 *{
    margin: 0px;
    padding: 0px;
    color:black;
    font-family: ingra, sans-serif;
    font-weight: 500;
    font-style: normal;

    }
#menu label, #hamburger {
  display: none;
}

h1{
    font-family: forma-djr-display, sans-serif;
font-weight: 700;
font-style: normal;
    font-size: 72px;
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.button {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}


            }
#container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    min-width: 0;
    min-height: 0;

            }
#home{
        display:grid;     
        grid-template-columns:1fr;
        grid-template-rows: 100px 200px 300px;
        background-color: #f4f4f4;

            }

#title{
    padding-top: 100px;
    padding-left: 300px;
    padding-right: 50px;
}
#menu ul{
        list-style-type: none;
        overflow: hidden;
    }
       
#menu li{
    display: inline;
    float: right;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    }
#menu li a{
    text-decoration: none;
        }
#menu li a:hover {
    border-bottom: 3px solid red;
            }
#menu li a.active{
    border-bottom: 3px solid red;
        }

    
}


#sm{
    padding-top:70px;
    display:grid;
    }
#para{
    padding-left:200px;
        }
.fa {
            display:block;
            padding-left: 20px;
            padding-bottom: 20px;
            font-size: 20px;
            width: 20px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            border-radius: 50%;
            border-color: white;
            transition: all .2s ease-in-out; 
            color:red;
        }
        .fa:hover{
            transform: scale(1.1);
        }
        
#aboutme{
        display:grid;
        grid-template-columns:400px 400px;
        grid-template-rows: 1fr;
     
        padding-left: 300px;
        padding-right: 300px;
        padding-top: 100px;
        padding-bottom:100px;
}
#aboutme h2{
    text-decoration: underline red;
}
h2{
    padding-bottom: 50px;
}



#work{
        display:grid;
        grid-template-columns:400px 400px;
        grid-template-rows: 1fr;
      
        padding-left: 300px;
        padding-right: 300px;
        padding-top: 100px;
        padding-bottom:100px;
}



#contact{
        padding-top: 70px;
        padding-bottom:100px;
        padding-left: 200px;
        padding-right: 50px;
        display:grid;
        grid-template-columns:400px 700px;
        grid-template-rows: 1fr;
        background-color:#f4f4f4 ;
}
#contact h2{
    color:red;
    font-size: 40px;
    padding-left: 20px;
}
#contactme{
    padding-left: 50px;
}
/*Contact Form Styles*/
article{
    padding-left: 100px;
}
.contact-form{
  
    
   
    }
.form-fields{
    padding: 0 30px;
}
.form-fields .items{
    padding-bottom: 15px;
}
.form-fields .items .label{
    transition: all 0.5s ease;
    color:white;
}
.form-fields input,
.form-fields textarea, .form-fields select{
    background: transparent;
    border:0;
    border: 1px solid red;
    padding: 8px 10px;
    color: red;
    border-radius: 3px;
    max-height: 3em;
}
.form-fields textarea{
    width:100%;
    line-height: normal;
}

.register-btn{
margin-top: 60px;
background:red;
color:white;
padding-top:10px;
padding-bottom: 10px;
padding-left: 100px;
padding-right: 100px;
border-radius: 5px;
cursor: pointer;
text-align: center;
font-size: 18px;
}
/*Contact Form flex*/
.form-fields li{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.form-fields input[type="text"],
.form-fields input[type="tel"],
.form-fields input[type="email"],
.form-fields select{
    flex: 1 0 200px;
}
.form-fields label{
    flex: 1 0 90px;
    max-width: 200px;
}

h4{
    padding-bottom: 20px;
    font-size: 18px;
}
/* Responsive */
.responsive {
  width: 80%;
  height: auto;
}


@media only screen and (max-width: 1100px){
    #aboutme{
        
     
        padding-left: 200px;
        padding-right: 200px;
      
}
    #work{
            
        padding-left: 200px;
        padding-right: 200px;
       
      
}
    #contact{
            
        padding: 50px 0 0 0;
      
}
    
article{
        padding-left:20px;
}
    
}

@media only screen and (max-width: 900px){
        #aboutme{
        
        
     
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 100px;
        padding-bottom:100px;
}
    #work{
        
      
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 100px;
        padding-bottom:100px;
}
    article{
    
        width: 65%;
     
}
    
    
}
@media only screen and (max-width: 800px){
    #aboutme{
        
        
     
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 100px;
        padding-bottom:100px;
        
}
     #work{
        
        padding-left: 50px;
        padding-right: 0px;
        
}
    #contact{
    
        padding-left: 0px;
        padding-right: 0px;
}
    #contactme{
        padding-left: 50px;
    }
    
    
}
@media only screen and (max-width: 700px){
    h1{
        font-size: 50px;
    }
    #home{
        display:grid;     
        grid-template-columns:1fr;
        grid-template-rows: 100px 1fr ;
        background-color: #f4f4f4;

            }
    #title{
    padding-top: 100px;
    padding-left: 50px;
   
}
    div#sm{
        display: none;
    }
    #aboutme{
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows: 400px 400px;
        padding-left: 50px;
        padding-right:50px;
}
    #work{
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows: 400px 400px;
        padding-top: 0px;
        padding-left: 50px;
        padding-right: 50px;
      
}
    #contact{
        padding-top: 70px;
        padding-bottom:100px;
        padding-left: 50px;
        padding-right: 0px;
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows: 500px 900px;
        background-color:#f4f4f4 ;
}
   
    /*Hamburger menu*/
#page-nav label, #hamburger {
  display: none;
}
/* Show Hamburger */
  #menu label {
    display: inline-block;
    color: #fff;
    background: red;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* Break down menu items into vertical */
  #menu ul li {
    display: block;
  }
  
  /* Toggle show/hide menu on checkbox click */
  #menu ul {
    display: none;
  }
  #menu input:checked ~ ul {
    display: block;
  }
}
@media only screen and (max-width: 400px){
     #work{
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows: 700px 1200px;
        padding-top: 0px;
       
      
}
    #contact{
        padding-top: 70px;
        padding-bottom:100px;
        padding-left: 0px;
        padding-right: 0px;
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows: 500px 800px;
        background-color:#f4f4f4 ;
}
}
