@media print{
    *{
        color: #000 !important;
        padding: 0 !important;
    }
    h1{
        font-size: 24pt;
    }
    p{
        font-size: 12pt;
    }
    #social-media{
        display: none;
    }
    #home{
        background-image: none;
    }
    #home p{
        display: none;
    }
    #nav{
        display: none;
    }
    #home{
        padding: 0;
    }
    #home-content{
        padding: 0;
        text-align: center;
    }
    #about{
        padding: 0;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #left-side, #middle, #right-side{
        padding: 0;
        border-bottom: none;
        text-decoration: none;
        box-shadow: none;
    }
    #home h2, #about h2, #work h2, contact-form h2{
        text-decoration: none;
        padding: none;
        
    }
    #about h2, #work h2, contact-form h2{
        font-weight: bold;
    }
    #work{
        padding: 0;
        padding-top:10px;
        grid-template-columns:1fr;
        grid-template-rows: auto;
        
    }
    #work p{
        display: none;
    }
    #contact{
        padding: 0;
    }
    #footer, .button{
        display: none;
    }
    #contact{
        display: none;
    }
}